#products {
  .sorter {
    .ant-form-item {
      margin-bottom: 0;
      width: 300px;

      @media (max-width: 768px) {
        width: 200px;
      }

      @media (max-width: 414px) {
        width: 170px;
      }
    }
  }

  .viewer {
    @apply xs:mt-2 sm:mt-0;
    .ant-form-item {
      width: 110px;
      margin-bottom: 0;
    }
  }
}
