// Poppins
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-ExtraLight.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-ExtraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/SVN-Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/SVN-Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/PoppinsVN-400-italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/SVN-Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/PoppinsVN-500-italic.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/SVN-Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/PoppinsVN-600-italic.woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/SVN-Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/PoppinsVN-700-italic.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-ExtraBoldItalic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins-vh/SVN-Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/font-poppins/Poppins-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
