#forgot-password {
  width: 100%;
  padding: 3rem 0;

  #send-otp {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 3.3rem 1rem;
    margin: auto;
    
    @screen sm {
      padding: 3.3rem 5rem 2.6rem;
    }
  }
}
